.main-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.login-button {
    font-size: 20px;
    border: 3px solid #CB352A;
    color: #CB352A;
}

.login-button:hover {
    background-color: #CB352A;
    color: #ffffff;
}